{% include "header.html" %}

<h2 id="Task_Title">Tasks</h2>
<div class="center-wrapper">
    <div class="Tasks">
        <div class="Task_List_Container">
            <ul class="Task_List">
                {% for task in tasks %}
                    <div>
                        <li>{{ task }}</li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="Buttons">
        <a id="delete">Delete Task</a>
        <a id="edit">Edit Task</a>
        <a id="add" href="{{url_for('add_task')}}">Add Task</a>
    </div>
</div>
